<!DOCTYPE html>
@{
    Layout = null;
}

<html ng-app="allAcuApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/Scripts/smart-table.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
</head>
<body>
    <div class="container body-content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container" ng-include="'/Templates/Site/nav.html'"></div>
        </div>

        @RenderBody()

        <div ng-include="'/Templates/Site/footer.html'"></div>
    </div>
</body>
@RenderSection("scripts", required: false)
</html>
