<!DOCTYPE html>
@{
    Layout = null;
}

<html ng-app="claimsApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.js")
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-route.js")
    @Scripts.Render("~/Scripts/smart-table.js")
    @Scripts.Render("~/bundles/jquery")
</head>
<header width="100%">
    <div style="display: inline;text-align: left"><a href="/Claims">Home</a></div>

    <div style="display: inline-block;float: right" ng-controller="header">
        <select ng-model="currentProvider"
                ng-options="p.businessName for p in providers"
                ng-change="setProvider()"></select>
    </div>
</header>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - All Acu</p>
    </footer>
</div>
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>
